{% extends "edit_template.html" %}

{% block title %}
{% if mode == 'create' %}
    Add Attribute
{% endif %}

{% if mode == 'edit' %}
    Edit Attribute
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}

{% if mode == 'create' %}
Add {{ component.title }} Attribute
{% endif %}

{% if mode == 'edit' %}
Edit {{ component.title }} Attribute
{% endif %}

{% endblock heading %}

{% block sub_heading %}
{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}
{% endblock sub_heading %}

{% block form_header %}
{% if mode == 'create' %}
<form id="add-attribute-form" action="/attributes/add/{{ component.id }}/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-attribute-form" action="/attributes/{{ attribute.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

{% endblock %}

{% block left_col %}

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}

      <label for="description">{{ form.description.label }}</label>
      <div class="field">{{ form.description }}</div>
      <div class="errors">{{ form.description.errors.0 }}</div>
      <br/>

{% endblock right_col %}

{% block form_submit %}

{% if mode == 'create' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Add</a>

{% endif %}

{% if mode == 'edit' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>

{% endif %}


{% csrf_token %}

</form>

{% endblock %}

