{% extends "base.html" %}

{% block title %}
Attributes
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>{{ component.title }} Attributes</h1>

<a href="/attributes/add/{{ component.id }}/">Add new attribute</a> |
<a href="/attributes/{{ component.id }}/">View all attributes</a> |

{% if attribute %}
<a href="/attributes/{{ attribute.id }}/edit/">Edit</a> |
<a href="/attributes/{{ attribute.id }}/delete/">Delete</a>

<p>
Attribute Title: {{ attribute.title }}
</p>

<p>
Component: <a href="/components/{{ component.id }}/">{{ component.title }}</a>
</p>

<p>
Description: 
<br/>{{ attribute.description }}
</p>



<!-- *** IF NO ATTRIBUTES *** -->
{% else %}
<p>No attributes are available.</p>
{% endif %}
{% endblock %}


