{% extends "base.html" %}

{% block title %}
    Requirements
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
<h1>Requirements</h1>

<a href="/requirements/add/">Add new requirement</a>
<br/>

{% if reqmt_list %} 

<ul>

{% for reqmt in reqmt_list %} 

<li><a href="/requirements/{{ reqmt.id }}/">{{ reqmt.title }}</a></li>

{% endfor %}

</ul>

{% else %} 

<p>There are no requirements for the {{ session_info.active_product.name }} product.</p>

{% endif %}

{% endblock %}
