{% extends "view_template.html" %}

{% block title %}
    Requirements
{% endblock %}

{% block headtags %}
{% endblock %}


{% block heading %}
Requirement
{% endblock %}

{% block main_links %}
<a href="/requirements/add/">Add new requirements</a> |
<a href="/requirements/">View all requirements</a>
{% endblock %}

{% block sub_heading %}
*Warning: Deleting a parent requirement, automatically deletes all children requirements. But deleting a child does NOT automatically
delete the parent.
{% endblock %}

{% if reqmt %}

{% block sub_links %}
<a href="/requirements/{{ reqmt.id }}/edit/">Edit</a> |
<a href="/requirements/{{ reqmt.id }}/delete/">Delete</a>
{% endblock %}

{% block left_col %}
<p>
Requirement ID: {{ reqmt.identifier }}
</p>

<p>
Title: {{ reqmt.title }}
</p>


<p>
Release: 
{% if reqmt.release %}

<a href="/releases/{{ reqmt.release.id }}/">{{ reqmt.release }}</a>

{% else %}

   None

{% endif %}
</p>

<p>
Description: {{ reqmt.description }}
</p>

<p>
Source: {{ reqmt.source }}
</p>

<p>Product Manager or Engineer:<br/>
{% if reqmt.responsible_engineer.all.0 %}

   {% for engineer in reqmt.responsible_engineer.all %}

      <a href="/members/{{ engineer.id }}/">{{ engineer.first_name }} {{ engineer.last_name }}</a>, {{ engineer.title }}
      <br/>
   {% endfor %}

{% else %}

   None

{% endif %}
<p>

{% endblock %}

{% block right_col %}


<p>
Categories: 

{% if reqmt.category.all.0 %}

   {% for category in reqmt.category.all %}

      {{ category.category }} / 

   {% endfor %}

{% else %}

   None

{% endif %}

</p>

<p>
Parent Requirement:
{% if reqmt.parent %}

   <a href="/requirements/{{ reqmt.parent.id }}/">{{ reqmt.parent }}</a>

{% else %}

   None

{% endif %}
</p>

<p>
Supporting Use Case:
{% if reqmt.use_case %}

   <a href="/usecases/{{ reqmt.use_case.id }}/">{{ reqmt.use_case }}</a>

{% else %}

   None

{% endif %}

</p>

<p>
Priority: {{ reqmt.priority }}
</p>

<p>
Approval Status: {{ reqmt.approval_status }}
</p>


<p>Notes:<br/>
{{ reqmt.notes }}
</p>


Attachments:
<br/>
{% if attachments %}

   {% for attachment in attachments %}

     <a href="{{ attachment.file }}">{{ attachment.filename }}</a>
      
      <br/>
   {% endfor %}

{% else %}

   None

{% endif %}

</p>



{% endblock %}

<!-- *** IF NO REQMTS *** -->

{% else %}

<p>No requirements are available.</p>

{% endif %}

