{% extends "edit_template.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Team Member
{% endif %}

{% if mode == 'edit' %}
    Edit Team Member
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}

{% if mode == 'create' %}
Add Team Member
{% endif %}

{% if mode == 'edit' %}
Edit Team Member
{% endif %}

{% endblock heading %}

{% block sub_heading %}
{% if message %}
  <div class="errors"> {{ message }}</div>
{% endif %}
<br/>

<p>Team: <a href="/teams/{{ team.id }}/">{{ team.name }}</a>
{% endblock sub_heading %}


{% block form_header %}

{% if mode == 'create' %}
<form id="add-member-form" action="/members/{{ team.id }}/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-member-form" action="/members/{{ member.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

{% endblock form_header %}

{% block left_col %}

<p>*Need to implement allowing user to choose existing member</p>

      <label for="existing_member">{{ form.existing_member.label }}</label>
      <div class="field">{{ form.existing_member }}</div>
      <div class="errors">{{ form.existing_member.errors.0 }}</div>
      <br/>

      <label for="first_name">{{ form.first_name.label }}</label>
      <div class="field">{{ form.first_name }}</div>
      <div class="errors">{{ form.first_name.errors.0 }}</div>
      <br/>

      <label for="last_name">{{ form.last_name.label }}</label>
      <div class="field">{{ form.last_name }}</div>
      <div class="errors">{{ form.last_name.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="is_manager">{{ form.is_manager.label }}</label>
      <div class="field">{{ form.is_manager }}</div>
      <div class="errors">{{ form.is_manager.errors.0 }}</div>
      <br/>

{% endblock right_col %}

{% block form_submit %}

{% if mode == 'create' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Add</a>

{% endif %}

{% if mode == 'edit' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>

{% endif %}


{% csrf_token %}

</form>

{% endblock %}

