{% extends "edit_template.html" %}

{% block title %}
Edit Account
{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}
Edit Account Profile
{% endblock heading %}


{% block sub_heading %}

{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}
{% endblock sub_heading %}

{% block form_header %}

<form id="edit-account-form" action="/account/edit/" method="post" enctype="multipart/form-data">

{% endblock form_header %}

{% block left_col %}

      <label for="first_name">{{ form.first_name.label }}</label>
      <div class="field">{{ form.first_name }}</div>
      <div class="errors">{{ form.first_name.errors.0 }}</div>
      <br/>

  
      <label for="last_name">{{ form.last_name.label }}</label>
      <div class="field">{{ form.last_name }}</div>
      <div class="errors">{{ form.last_name.errors.0 }}</div>
      <br/>


      <label for="username">{{ form.username.label }}</label>
      <div class="field">{{ form.username }}</div>
      <div class="errors">{{ form.username.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}

      <label for="email">{{ form.email.label }}</label>
      <div class="field">{{ form.email }}</div>
      <div class="errors">{{ form.email.errors.0 }}</div>
      <br/>


      <label for="photo">{{ form.photo.label }}</label>
      <div class="field">{{ form.photo }}</div>
      <div class="errors">{{ form.photo.errors.0 }}</div>
      <br/>

<br/>

{% endblock right_col %}

{% block form_submit %}

<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>
{% csrf_token %}

</form>

{% endblock %}
