 {% extends "public_base.html" %}


{% block title %}Reset Password{% endblock %}

{% block headtags %}

{% endblock %}



{% block heading %}
Reset Password
{% endblock %}

{% block sub_heading %}
Enter your email address.
{% endblock %}

{% block content %}

<div class = "errors">{{ message }}
<br/>
</div>

<div class = "left">
  <form id="password-reset-form" method="post" action="/accounts/password_reset/">

      <label for="id_email">{{ form.email.label }}</label>
      {{ form.email }}
      <div class="errors">{{ form.email.errors }}</div>
</div>


<div class = "left leftPadding">
<input type="submit" value="Reset Password" class="blueButton">
</div>


  {% csrf_token %}



  </form>

{% endblock content %}
