{% extends "public_form_template.html" %}


{% block title %}New Account Registration{% endblock %}

{% block heading %}
Create a New Account
{% endblock %}

{% block form_header %}
<form id="signup-form" class="compact" action="/account/registration/" method="post">
{% endblock %}

{% block left_col %}

        <label for="id_first_name">{{ form.first_name.label }}</label>
        <br/>
        {{ form.first_name }}
        <div class="errors">{{ form.first_name.errors.0 }}</div>


      <label for="id_email">{{ form.email.label }}</label>
      <br/>
      {{ form.email }}
      <div class="errors">{{ form.email.errors.0 }}</div>

      <label for="id_company">{{ form.company.label }}</label>
      <br/>
      {{ form.company }}
      <div class="errors">{{ form.company.errors.0 }}</div>

{% endblock %}
{% block right_col %}

       <label for="id_last_name">{{ form.last_name.label }}</label>
       <br/>
        {{ form.last_name }}
        <div class="errors">{{ form.last_name.errors.0 }}</div>

      <label for="id_username">{{ form.username.label }}</label>
      <br/>
      {{ form.username }}
      <div class="errors">{{ form.username.errors.0 }}</div>


      <label for="id_password">{{ form.password.label }}</label>
      <br/> 
      {{ form.password }}
      <div class="errors">{{ form.password.errors.0 }}</div>

      <label for="id_confirm_password">{{ form.confirm_password.label }}</label>
      <br/>
      {{ form.confirm_password }}
      <div class="errors">{{ form.confirm_password.errors.0 }}</div>

<br/>

{% endblock %}


{% block form_submit %}
<!-- Opens a new tab in browser when clicking on link.
-->
    <p>
    By clicking on "Create Account" below, you agree to our <a href="/terms/" target="_blank" title="Terms of Service">Terms of Service</a> and <a href="/privacy/" target="_blank" title="Privacy Policy">Privacy Policy</a>.
    </p>

<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Create Account</a>

  {% csrf_token %}

</form>

{% endblock %}





