{% extends "base.html" %}

{% block title %}
    Roadmap
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Roadmap</h1>

{% if releases %}

{% for release in releases %}
<p>
Release: <a href="/releases/{{ release.id }}/"> {{ release.name }}</a>
<br/>
Release date: {{ release.release_date|date:"D, M j, o"  }}
<br/>
Goals/Themes: {{ release.goals }}
<br/>
Target Market/Customer/User: {{ release.market }}
<br/>

<!-- need to display none if this release has no features -->
Features:
<br/>
  {% for feature in features %}
     {% if feature.release.id = release.id %}
        <a href="/features/{{ feature.id }}/">{{ feature.title }}</a>
        <br/>
      {% endif %}

   {% endfor %}

{% endfor %}

{% else %}
<p>There are no releases for the {{ session_info.active_product.name }} product. <a href="/releases/add/">Click here</a> to add a new release.</p>
{% endif %}
{% endblock %}

