{% extends "view_template.html" %}

{% block title %}
Bugs
{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}
Bug
{% endblock heading%}

{% block main_links %}
<a href="/bugs/">View all bugs</a>
{% endblock main_links %}

{% block sub_heading %}
To add a new bug, go to the test or beta test, and click the 'add bug' link.
{% endblock sub_heading %}

{% if bug %}

{% block sub_links %}
<a href="/bugs/{{ bug.id }}/edit/">Edit</a>
 | <a href="/bugs/{{ bug.id }}/delete/">Delete</a>
 | <a href="/risks/add/bug/{{ bug.id }}/">Add Risk</a>
{% endblock sub_links %}

{% block left_col %}
<p>Bug ID: {{ bug.identifier }}
</p>

<p>
Title: {{ bug.title }}
</p>

<p>
Description: 
<br/>{{ bug.description }}
</p>


<p>
Impacted Features:
{% if bug.features.all.0 %}   <!-- this is manyToMany field -->
   {% for feature in bug.features.all %}
      <br/>
      <a href="/features/{{ feature.id }}/">{{ feature.title }}</a>
   {% endfor %}
{% else %}
   None
{% endif %}
</p>


{% if bug.test %} <!-- this is foreign key field -->
<p>
Test: <a href="/tests/{{ bug.test.id }}/">{{ bug.test }}</a>
</p>
{% endif %}


{% if bug.betatest %} <!-- this is foreign key field -->
<p>
Beta Test: <a href="/betatests/{{ bug.betatest.id }}/">Beta {{ bug.betatest }}</a>
</p>
{% endif %}

<p>
Severity: {{ bug.severity }}
</p>

<p>
Bug status: {{ bug.status }}
</p>

{% endblock left_col %}
{% block right_col %}

<p>
Release:
{% if bug.release %} <!-- this is foreign key field -->
   <a href="/releases/{{ bug.release.id }}/">{{ bug.release }}</a>
{% else %}
   None
{% endif %}
</p>


<p>
Categories:
{% if bug.category.all.0 %}   <!-- this is manyToMany field -->
   {% for category in bug.category.all %}

       {{ category }} /

   {% endfor %}
{% else %}
   None
{% endif %}
</p>


<p>Risks:
{% if risks %}
  {% for risk in risks %}
     <br/>
     <a href="/risks/{{ risk.id }}/">{{ risk.title }}</a>
  {% endfor %}
{% else %}
None
{% endif %}
</p>


<p>
Resolution:
<br/>{{ bug.resolution }}
</p>


<p>Notes:<br/>
{{ bug.notes }}
</p>

{% endblock right_col %}

<!-- *** IF NO REQMTS *** -->
{% else %}
<p>No requirements are available.</p>
{% endif %}


