 {% extends "edit_template.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Customer
{% endif %}

{% if mode == 'edit' %}
    Edit Customer
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}

{% if mode == 'create' %}
Add customer
{% endif %}

{% if mode == 'edit' %}
<Edit customer
{% endif %}

{% endblock heading %}

{% block sub_heading %}
{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}
{% endblock sub_heading %}

{% block form_header %}

{% if mode == 'create' %}
<form id="add-customer-form" action="/customers/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-customer-form" action="/customers/{{ customer.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

{% endblock form_header %}

{% block left_col %}

      <label for="first_name">{{ form.first_name.label }}</label>
      <div class="field">{{ form.first_name }}</div>
      <div class="errors">{{ form.first_name.errors.0 }}</div>
      <br/>

      <label for="last_name">{{ form.last_name.label }}</label>
      <div class="field">{{ form.last_name }}</div>
      <div class="errors">{{ form.last_name.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}

      <label for="organization">{{ form.organization.label }}</label>
      <div class="field">{{ form.organization }}</div>
      <div class="errors">{{ form.organization.errors.0 }}</div>
      <br/>

      <label for="location">{{ form.location.label }}</label>
      <div class="field">{{ form.location }}</div>
      <div class="errors">{{ form.location.errors.0 }}</div>
      <br/>

{% endblock right_col %}

{% block form_submit %}

{% if mode == 'create' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Add</a>

{% endif %}

{% if mode == 'edit' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>

{% endif %}

{% csrf_token %}

</form>

{% endblock %}

