{% extends "base.html" %}

{% block title %}
Customers
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}

<h1>Customer</h1>

<a href="/customers/add/">Add a new customer</a>

{% if customer %}

 | <a href="/customers/{{ customer.id }}/edit/">Edit</a>

<p>
Name: {{ customer.first_name }} {{ customer.last_name }}
</p>

<p>
Organization: {{ customer.organization }}
</p>

<p>
Location: {{ customer.location }}
</p>

<!-- *** IF NO customer *** -->
{% else %}
<p>No customers are available.</p>
{% endif %}
{% endblock %}


