{% extends "edit_template.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Release
{% endif %}

{% if mode == 'edit' %}
    Edit Release
{% endif %}

{% endblock %}


{% block headtags %}

<link rel="stylesheet" type="text/css" href="/static/jquery/css/ui-lightness/jquery-ui-1.10.3.custom.css"/>
<script type="text/javascript" src="/static/jquery/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.10.3.custom.min.js"></script>

<script>
$(function() {
$( "#id_release_date" ).datepicker();

});
</script>

{% endblock headtags %}

{% block heading %}

{% if mode == 'create' %}
Add Release
{% endif %}

{% if mode == 'edit' %}
Edit Release
{% endif %}

{% endblock heading %}

{% block sub_heading %}
{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}
{% endblock sub_heading %}

{% block form_header %}

{% if mode == 'create' %}
<form id="add-release-form" action="/releases/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-release-form" action="/releases/{{ release.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

{% endblock form_header %}

{% block left_col %}

      <label for="name">{{ form.name.label }}</label>
      <div class="field">{{ form.name }}</div>
      <div class="errors">{{ form.name.errors.0 }}</div>
      <br/>

      <label for="release_date">{{ form.release_date.label }}</label>
      <div class="field">{{ form.release_date }}</div>
      <div class="errors">{{ form.release_date.errors.0 }}</div>
      <br/>

      <label for="market">{{ form.market.label }}</label>
      <div class="field">{{ form.market }}</div>
      <div class="errors">{{ form.market.errors.0 }}</div>
      <br/>

      <label for="goals">{{ form.goals.label }}</label>
      <div class="field">{{ form.goals }}</div>
      <div class="errors">{{ form.goals.errors.0 }}</div>
      <br/>

     <label for="product_manager">{{ form.product_manager.label }}</label>
      <div class="field">{{ form.product_manager }}</div>
      <div class="errors">{{ form.product_manager.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}

      <label for="release_engineer">{{ form.release_engineer.label }}</label>
      <div class="field">{{ form.release_engineer }}</div>
      <div class="errors">{{ form.release_engineer.errors.0 }}</div>
      <br/>


      <label for="pass_fail_criteria">{{ form.pass_fail_criteria.label }}</label>
      <div class="field">{{ form.pass_fail_criteria }}</div>
      <div class="errors">{{ form.pass_fail_criteria.errors.0 }}</div>
      <br/>


      <label for="notes">{{ form.notes.label }}</label>
      <div class="field">{{ form.notes }}</div>
      <div class="errors">{{ form.notes.errors.0 }}</div>
      <br/>

{% endblock right_col %}

{% block form_submit %}

{% if mode == 'create' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Add</a>

<br/>*Note: Adding a new release will automatically generate a beta test for that release.
{% endif %}

{% if mode == 'edit' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>

{% endif %}

{% csrf_token %}

</form>

{% endblock %}

