{% extends "emails/base_email_template.html" %}

{% block email_content %}

{% if name %}
Welcome {{name}}!
{% else %}
Welcome!
{% endif %}
<br/><br/>
Thanks for registering with Meerkat!
<br/><br/>
<a href = "{{site_url }}dashboard/">
Click here to get started
</a>

<br/><br/>
Meerkat will help speed up your product development and enable you to visualize product development status at a glance.
<br/><br/>
If you have questions, please email us at <a href='mailto:info@meerkatdev.com'>info@meerkatdev.com</a>

<br/><br/>

Good luck with your project!<br/>
The Meerkat Team
<br/><br/>
{% endblock %}
