<!DOCTYPE html>

<html>

<head>
  <title>Meerkat - {% block title %}Product Development{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

   <link rel="stylesheet" type="text/css" href="/static/css/default.css" type="text/css" />


{% block headtags %}{% endblock %}

</head>

<body>

<div class="heading">
<a href="/dashboard/"><img src="/static/images/meerkatLogo.png"></a> 
Meerkat

<div class = "right">

{% if user.is_authenticated %}

<a href="/account/">Account </a> 
| <a href="{% url apps.public.views.auth.process_logout %}">Logout</a>


{% endif %}

</div>

</div>


<div class ="orangeBar left" style ="padding-right: 10px;">

{{ session_info.company.name }} Products: &nbsp;
</div>

{% if session_info.products %}
   {% for product in session_info.products %}
      {% if session_info.active_product.id = product.id %} 
         <div class = "blueBar left">
      {% else %}
         <div class = "orangeBar left">
      {% endif %} 

      <a href="/products/{{ product.id}}">{{ product.name }}</a>
      </div>

   {% endfor %}

{% else %}
    <div class = "orangeBar left">
    <a href = "/products/add/">Add a new product</a>
    </div>

{% endif %}
 
<div class = "orangeBar expand">&nbsp;</div>
</div>

<div class ="blueBar">
   <a href="/dashboard/">Dashboard</a>
 | <a href="/teams/">Teams</a>
 | <a href="/milestones/">Milestones</a>
 | <a href="/roadmap/">Roadmap</a>
 | <a href="/risks/">Risks</a>
 | <a href="/requirements/">Requirements</a>
 | <a href="/usecases/">Use Cases</a>
 | <a href="/components/">Design Components</a>
 | <a href="/features/">Features</a>
 | <a href="/tests/">Tests</a>
 | <a href="/betatests/">Beta</a>
 | <a href="/releases/">Releases</a>
 | <a href="/bugs/">Bugs</a>
</div>



<div class = "whiteShadowBox">
{% block content %}


<div class = "left">
{% block main_links %}
{% endblock main_links %}
<br/>
<hr/>

<div class = "right">
{% block sub_links %}
{% endblock sub_links %}
<br/>


{% endblock content %}


<div class = "clear"></div>
</div>

</body>
</html>

