<!DOCTYPE html>

<html>

<head>
  <title>Meerkat - {% block title %}Product Development{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css" type="text/css" />


{% block headtags %}{% endblock %}

</head>

<body>

<div class="heading">
<a href="/home/"><img src="/static/images/meerkatLogo.png"></a>
Meerkat
</div>


<div class = "whiteShadowBox">



<h1>{% block heading %} {% endblock %}</h1>

<p>{% block sub_heading %} {% endblock %}</p>

{% block content %}

{% endblock content %}


<div class = "clear"></div>
</div>



</body>
</html>

