{% extends "edit_template.html" %}

{% block title %}

{% if mode == 'create' %}
    Add Test
{% endif %}

{% if mode == 'edit' %}
    Edit Test
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}

{% if mode == 'create' %}
Add Test
{% endif %}

{% if mode == 'edit' %}
Edit Test
{% endif %}

{% endblock heading %}

{% block sub_heading %}
{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}
{% endblock sub_heading %}

{% block form_header %}

{% if mode == 'create' %}
<form id="add-test-form" action="/tests/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-test-form" action="/tests/{{ test.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

{% endblock form_header %}

{% block left_col %}

      <label for="identifier">{{ form.identifier.label }}</label>
      <div class="field">{{ form.identifier }}</div>
      <div class="errors">{{ form.identifier.errors.0 }}</div>
      <br/>

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="test_description">{{ form.test_description.label }}</label>
      <div class="field">{{ form.test_description }}</div>
      <div class="errors">{{ form.test_description.errors.0 }}</div>
      <br/>

      <label for="implementation_description">{{ form.implementation_description.label }}</label>
      <div class="field">{{ form.implementation_description }}</div>
      <div class="errors">{{ form.implementation_description.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}


      <label for="responsible_engineer">{{ form.responsible_engineer.label }}</label>
      <div class="field">{{ form.responsible_engineer }}</div>
      <div class="errors">{{ form.responsible_engineer.errors.0 }}</div>
      <br/>

      <label for="category">{{ form.category.label }}</label>
      <div class="field">{{ form.category }}</div>
      <div class="errors">{{ form.category.errors.0 }}</div>
      <br/>

      <label for="features">{{ form.features.label }}</label>
      <div class="field">{{ form.features }}</div>
      <div class="errors">{{ form.features.errors.0 }}</div>
      <br/>


      <label for="pass_fail_criteria">{{ form.pass_fail_criteria.label }}</label>
      <div class="field">{{ form.pass_fail_criteria }}</div>
      <div class="errors">{{ form.pass_fail_criteria.errors.0 }}</div>
      <br/>

      <label for="status">{{ form.status.label }}</label>
      <div class="field">{{ form.status }}</div>
      <div class="errors">{{ form.status.errors.0 }}</div>
      <br/>


      <label for="notes">{{ form.notes.label }}</label>
      <div class="field">{{ form.notes }}</div>
      <div class="errors">{{ form.notes.errors.0 }}</div>
      <br/>


{% endblock right_col %}

{% block form_submit %}

{% if mode == 'create' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Add</a>

{% endif %}

{% if mode == 'edit' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>

{% endif %}


{% csrf_token %}

</form>

{% endblock %}

