{% extends "edit_template.html" %}

{% block title %}
    
{% if mode == 'create' %}
    Add Design Component
{% endif %}

{% if mode == 'edit' %}
    Edit Design Component
{% endif %}

{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}

{% if mode == 'create' %}
Add Design Component
{% endif %}

{% if mode == 'edit' %}
Edit Design Component
{% endif %}

{% endblock heading %}

{% block sub_heading %}
{% if message %}
  <div class="errors"> {{ message }}</div>
  <br/>
{% endif %}
{% endblock sub_heading %}

{% block form_header %}

{% if mode == 'create' %}
<form id="add-component-form" action="/components/add/" method="post" enctype="multipart/form-data">
{% endif %}

{% if mode == 'edit' %}
<form id="edit-component-form" action="/components/{{ component.id }}/edit/" method="post" enctype="multipart/form-data">
{% endif %}

{% endblock form_header %}

{% block left_col %}

      <label for="identifier">{{ form.identifier.label }}</label>
      <div class="field">{{ form.identifier }}</div>
      <div class="errors">{{ form.identifier.errors.0 }}</div>
      <br/>

      <label for="title">{{ form.title.label }}</label>
      <div class="field">{{ form.title }}</div>
      <div class="errors">{{ form.title.errors.0 }}</div>
      <br/>

      <label for="release">{{ form.release.label }}</label>
      <div class="field">{{ form.release }}</div>
      <div class="errors">{{ form.release.errors.0 }}</div>
      <br/>


      <label for="design_description">{{ form.design_description.label }}</label>
      <div class="field">{{ form.design_description }}</div>
      <div class="errors">{{ form.design_description.errors.0 }}</div>
      <br/>

      <label for="implementation_description">{{ form.implementation_description.label }}</label>
      <div class="field">{{ form.implementation_description }}</div>
      <div class="errors">{{ form.implementation_description.errors.0 }}</div>
      <br/>

      <label for="responsible_engineer">{{ form.responsible_engineer.label }}</label>
      <div class="field">{{ form.responsible_engineer }}</div>
      <div class="errors">{{ form.responsible_engineer.errors.0 }}</div>
      <br/>

{% endblock left_col %}
{% block right_col %}

      <label for="category">{{ form.category.label }}</label>
      <div class="field">{{ form.category }}</div>
      <div class="errors">{{ form.category.errors.0 }}</div>
      <br/>

      <label for="parent">{{ form.parent.label }}</label>
      <div class="field">{{ form.parent }}</div>
      <div class="errors">{{ form.parent.errors.0 }}</div>
      <br/>

      <label for="approval_status">{{ form.approval_status.label }}</label>
      <div class="field">{{ form.approval_status }}</div>
      <div class="errors">{{ form.approval_status.errors.0 }}</div>
      <br/>

      <label for="usecases">{{ form.usecases.label }}</label>
      <div class="field">{{ form.usecases }}</div>
      <div class="errors">{{ form.usecases.errors.0 }}</div>
      <br/>

      <label for="requirements">{{ form.requirements.label }}</label>
      <div class="field">{{ form.requirements }}</div>
      <div class="errors">{{ form.requirements.errors.0 }}</div>
      <br/>

      <label for="notes">{{ form.notes.label }}</label>
      <div class="field">{{ form.notes }}</div>
      <div class="errors">{{ form.notes.errors.0 }}</div>
      <br/>

{% endblock right_col %}

{% block form_submit %}

{% if mode == 'create' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Add</a>

{% endif %}

{% if mode == 'edit' %}
<a href="#" onclick="document.forms[0].submit();" class="blueButton right">Save</a>

{% endif %}


{% csrf_token %}

</form>

{% endblock %}

