{% extends "base.html" %}

{% block title %}
Components
{% endblock %}

{% block headtags %}
{% endblock %}

{% block content %}
<h1>Design Components</h1>

<a href="/components/add/">Add new design component</a>
<br/>

{% if component_list %}
<ul>
{% for component in component_list %}
<li><a href="/components/{{ component.id }}/">{{ component.title }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>There are no design components for the {{ session_info.active_product.name }} product.</p>
{% endif %}
{% endblock %}

