{% extends "view_template.html" %}

{% block title %}
Beta Test
{% endblock %}

{% block headtags %}
{% endblock %}

{% block heading %}
Beta Test
{% endblock %}

{% block main_links %}
<a href="/betatests/">View all Beta Tests</a>
{% endblock %}

{% block sub_heading %}
<p>A beta test is automatically updated when the correponding product release is edited.</p>

{% endblock %}

{% if betatest %}

{% block sub_links %}
   <a href="/customers/add/">Add Customer</a>
 | <a href="/bugs/add/betatest/{{ betatest.id }}">Add Bug</a> 
{% endblock %}

{% block left_col %}
<p>
Release:  <a href="/releases/{{ betatest.release.id }}/">{{ betatest.release }}</a>
</p>

<p>Beta Test Engineers:
{% for engineer in betatest.responsible_engineer.all %}
      <br/>
      <a href="/members/{{ engineer.id }}/">{{ engineer.first_name }} {{ engineer.last_name }}</a>, {{ engineer.title }}
   {% endfor %}
</p>

<p>Bugs reported:
{% if bugs %}
   {% for bug in bugs %}
      <br/>
      <a href="/bugs/{{ bug.id }}/">{{ bug.title }}</a>
   {% endfor %}
{% else %}
None
{% endif %}
</p>

{% endblock left_col %}

{% block right_col %}

<p>
Customer Feedback:
{% if feedback_list %} 
   {% for feedback in feedback_list.all %}
      <br/>

<!-- Need to fix this so show only list of unique customers with no repeats -->

      <a href="/customers/{{ feedback.customer.id }}/">{{ feedback.customer.first_name }} {{ feedback.customer.last_name }}</a>, {{ feedback.customer.organization }} / {{ feedback.customer.location }} <a href="/feedback/{{ betatest.id }}/{{ feedback.customer.id }}">view feedback</a>

      
   {% endfor %}
{% else %}
   None
{% endif %}
</p>

{% endblock right_col %}

<!-- *** IF NO BETA TESTS *** -->
{% else %}
<p>No beta tests are available.</p>
{% endif %}


